div {
    text-align: center;
}

hr {
    width: 85%;
}

nav {
    padding: 0;
    height: 40px;
    line-height: 30px;
    background-color: dimgrey; 
    margin-bottom: 150px;
}

    nav#top ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: dimgrey;
    }


    nav#top li {
        font-size: 24px;
        line-height: 40px;
        display: inline-block;
        padding: 20px;
    }

    nav#top a {
        color: white;
        text-decoration: none;
    }

li:hover {
    background-color: darkgrey;
}
